/mpd/.config/mpd/log

/newsboat/.config/newsboat/cache.db
/newsboat/.config/newsboat/history.cmdline
/newsboat/.config/newsboat/history.search
/newsboat/.config/newsboat/queue
/newsboat/.config/newsboat/urls

/nvim/.config/nvim/plugged/

/qutebrowser/.config/qutebrowser/bookmarks/
/qutebrowser/.config/qutebrowser/qsettings/
/qutebrowser/.config/qutebrowser/quickmarks