/newsboat/.config/newsboat/cache.db
/newsboat/.config/newsboat/config
/newsboat/.config/newsboat/history.cmdline
/newsboat/.config/newsboat/history.search
/newsboat/.config/newsboat/queue
/newsboat/.config/newsboat/urls

/nvim/.config/nvim/plugged/
